/* ReservedFlightCard.css */
.offer-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .offer-card .top-side.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .offer-card .bottom-part-card {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  /* AdminReservedFlights.css */
  .admin-reserved-flights-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  