/* Flightcard.css */

.flightcard {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Define rows for top, center, and bottom */
  background-color: #bedffc;
  padding: 5px; /* Reduce the padding */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.top-side {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Four columns of equal width */
  gap: 2px; /* Add spacing between columns */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
}

.left-side-card,
.center-left-side-card,
.center-right-side-card,
.right-side-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-part-card {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between the reserved tickets and the link */
  padding: 10px; /* Add some padding for better spacing */
}

.reserved-info {
  display: flex;
  align-items: center;
}

.bottom-part-card p {
  margin: 0;
  font-size: 16px;
}

.bottom-part-card a {
  text-decoration: none;
  color: blue;
  margin-left: auto; /* Push the link to the far right */
}

.buy-reserved-button {
  margin-left: 10px; /* Space between the text and the button */
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy-reserved-button:hover {
  background-color: #45a049;
}

