/* FlightDetails.css */

.flight-details {
    background-color: #bedffc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
  }
  
  .flight-details h2 {
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .flight-details p {
    margin-bottom: 10px;
  }
  
  .flight-details img {
    max-width: 100%;
    margin-top: 20px;
  }
  
  .flight-details button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .flight-details button:hover {
    background-color: #0056b3;
  }
  