/* Flightcard.css */

.flightcard {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Define rows for top, center, and bottom */
  background-color: #bedffc;
  padding: 5px; /* Reduce the padding */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.top-side {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Four columns of equal width */
  gap: 2px; /* Add spacing between columns */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
}

.left-side-card,
.center-left-side-card,
.center-right-side-card,
.right-side-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-part-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
