#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.background-image {
  position: fixed; /* Fija la imagen en la ventana del navegador */
  top: 0;
  left: 0;
  width: 100%; /* Establece el ancho al 100% */
  height: 100%; /* Establece la altura al 100% */
  z-index: -1; /* Coloca la imagen detrás del contenido */
  /* Otros estilos que desees aplicar */
}

.flights-button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw; /* Set the width to cover 60% of the viewport width */
  max-width: 400px; /* Optional: set a maximum width to the button */
  padding: 15px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5); /* Semitransparent background */
  color: white;
  border-radius: 25px; /* Rounded edges */
  font-size: 1.2em;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  bottom: 30%; /* Set the button 20px from the bottom of the viewport */
}

.flights-button:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}

/* Styles for the login button */
.login-button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  max-width: 300px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 20px;
  font-size: 1em;
  transition: background-color 0.3s ease;
  bottom: 20%;
}

.login-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}